@model List<Product>

@{
    var categories = Model.Select(p => p.Category).Distinct().ToList();
}

<section class="py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="bootstrap-tabs product-tabs">
                    <div class="tabs-header d-flex justify-content-between border-bottom my-5">
                        <h3>Trending Products</h3>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-link text-uppercase fs-6 active" data-bs-toggle="tab" href="#tab-all">All</a>
                                @foreach (var category in categories)
                                {
                                    <a class="nav-link text-uppercase fs-6" data-bs-toggle="tab" href="#tab-@category.Replace(" ", "")">@category</a>
                                }
                            </div>
                        </nav>
                    </div>

                    <div class="tab-content" id="nav-tabContent">

                        <!-- All Products Tab -->
                        <div class="tab-pane fade show active" id="tab-all">
                            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                @foreach (var product in Model)
                                {
                                    <div class="col">
                                        <div class="product-item">
                                            <a href="#" class="btn-wishlist" onclick="toggleWishlist(@product.Id, this)">
                                                <svg width="24" height="24"><use xlink:href="#heart"></use></svg>
                                            </a>
                                            <figure>
                                                <a href="#">
                                                    <img src="@product.ImageUrl" class="tab-image" alt="@product.Name">
                                                </a>
                                            </figure>
                                            <h3>@product.Name</h3>
                                            <span class="qty">1 Unit</span>
                                            <span class="rating">
                                                <svg width="24" height="24" class="text-primary">
                                                    <use xlink:href="#star-solid"></use>
                                                </svg> 4.5
                                            </span>
                                            <span class="price">$@product.Price</span>

                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="input-group product-qty">
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number">
                                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                                        </button>
                                                    </span>
                                                    <input type="text" name="quantity" class="quantity form-control input-number" value="1" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="quantity-right-plus btn btn-success btn-number">
                                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                                        </button>
                                                    </span>
                                                </div>
                                                <a href="#" class="nav-link add-to-cart-btn" data-id="@product.Id">
                                                    Add to Cart
                                                    <iconify-icon icon="uil:shopping-cart"></iconify-icon>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <!-- Category Tabs -->
                        @foreach (var category in categories)
                        {
                            <div class="tab-pane fade" id="tab-@category.Replace(" ", "")">
                                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
                                    @foreach (var product in Model.Where(p => p.Category == category))
                                    {
                                        <div class="col">
                                            <div class="product-item">
                                                <a href="#" class="btn-wishlist" data-id="@product.Id">
                                                    <svg width="24" height="24"><use xlink:href="#heart"></use></svg>
                                                </a>
                                                <figure>
                                                    <a href="#">
                                                        <img src="@product.ImageUrl" class="tab-image" alt="@product.Name">
                                                    </a>
                                                </figure>
                                                <h3>@product.Name</h3>
                                                <span class="qty">1 Unit</span>
                                                <span class="rating">
                                                    <svg width="24" height="24" class="text-primary">
                                                        <use xlink:href="#star-solid"></use>
                                                    </svg> 4.5
                                                </span>
                                                <span class="price">$@product.Price</span>

                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="input-group product-qty">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="quantity-left-minus btn btn-danger btn-number">
                                                                <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                                            </button>
                                                        </span>
                                                        <input type="text" name="quantity" class="form-control input-number" value="1" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="quantity-right-plus btn btn-success btn-number">
                                                                <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <a href="#" class="nav-link add-to-cart-btn" data-id="@product.Id">
                                                        Add to Cart
                                                        <iconify-icon icon="uil:shopping-cart"></iconify-icon>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>